<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	
	<head th:replace="commonspace :: page_head('Home - orderDetails')" />
	<link rel="stylesheet" th:href="@{/css/orderdetails.css}" />
	<link rel="stylesheet" th:href="@{/css/checkDeliveryStatus.css}" />
	<script type="text/javascript" th:src="@{/js/checkDeliveryStatus.js}"></script>

</head>


<body>
	<div th:replace="commonspace :: menu" />
	<form th:action="@{/admin/checkDeliveryStatus}" method="POST">
		<div th:if="${dividedPage ==null}">

			<div class="container" style="text-align: center ;">
				<br><br>
				<h1>판매 내역</h1>
				<br><br>

				<button type="button" class="btn btn-primary btn-sm">배송상태 변경</button>
				<table>
					<tr>
						<th>SalesID</th>
						<th>판매자</th>
						<th>목적지</th>
						<th>판매일</th>
						<th>판매시간</th>
						<th>정산가격</th>
						<th>정산계좌</th>
						<th>정산은행</th>
						<th>정산계좌번호</th>

						<th></th>
					</tr>
					<div th:each="sale:${salesList}" class="text-center">
						<tr>

							<td>
								<div th:text="${sale.salesId}" />
							</td>
							<td>
								<div th:text="${sale.user.name}" />
							</td>
							<td>
								<div th:text="${sale.branches.branchName}" />
							</td>
							<td>
								<div th:text="${#temporals.format(sale.salesDate, 'yy-MM-dd')}"></div>
							</td>
							<td>
								<div th:text="${#temporals.format(sale.salesDate, 'HH:mm')}"></div>
							</td>
							<td><label>
									<input type="checkbox" th:if="${sale.deliveryStatus=='배송완료'}" th:name="selectItem"
										th:value="${sale.salesId}">
									<span th:text="${sale.deliveryStatus}" />
								</label>
							</td>
							<td>
								<div
									th:text="${#numbers.formatDecimal(sale.totalPrice, 0, 'COMMA', 0, 'POINT') + '원'}" />
							</td>
							<td>
								<div th:text="${sale.payment.bank}" />
							</td>
							<td>
								<div th:text="${sale.payment.accountNumber}" />
							</td>

							<td>
								<a class="btn btn-danger m-3" th:href="@{|/salesDetails/${sale.salesId}|}">상세보기</a>
							</td>


						</tr>

					</div>
					<hr>
				</table>
				<hr>
			</div>
		</div>
		</div>
		<div th:if="${dividedPage !=null}">
			<div class="container" style="text-align: center ;">
				<br><br>
				<h1>상세 내역 </h1>
				<br><br>



				<div id="parent">
					<div id="book_box1">
						<div></div>
						<div>&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;책제목</div>
						<div>가격</div>
						<div>수량</div>
						<div>총 판매 가격</div>
					</div>
					<hr>
					<div id="book" th:each="salesDetails:${salesDetail}" class="text-center">

						<div>
							<img th:src="@{${salesDetails.book.imagePath}}" title="${salesDetails.book.image}" id="img">
						</div>
						<div th:text="${salesDetails.book.title}"></div>

						<div th:text="${#numbers.formatDecimal(salesDetails.sellPrice, 0, 'COMMA', 0, 'POINT') + '원'}">
						</div>

						<div th:text="${salesDetails.salesQuantity}"></div>

						<div th:text="${#numbers.formatDecimal(salesDetails.sellPrice*salesDetails.salesQuantity, 0, 'COMMA', 0, 'POINT') +
                        '원'}"></div>

					</div>

				</div>

				<hr>
			</div>


		</div>

	</form>
	<div th:replace="commonspace :: footer" />

</body>

</html>