<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	
	<head th:replace="commonspace :: page_head('Home - orderDetails')" />
	<link rel="stylesheet" th:href="@{/css/orderdetails.css}" />
	<script type="text/javascript" th:src="@{/js/orderdetails.js}"></script>

</head>

<body>
	<div th:replace="commonspace :: menu" />
	<div th:if="${dividedPage ==null}">
		<div class="container" style="text-align: center ;">
			<br><br>
			<h1>주문 내역</h1>
			<br><br>

			<table>
				<tr>
					<th>주소</th>
					<th>배송 상태</th>
					<th>주문날짜</th>
					<th>주문 총 가격</th>
					<th>결제 정보</th>
					<th></th>
				</tr>
				<div th:each="order:${orders}" class="text-center">
					<tr>

						<td th:text="${order.address}"></td>
						<td th:text="${order.deliveryStatus}"></td>
						<td th:text="${#temporals.format(order.orderDate, 'yy-MM-dd')}"></td>
						<td>
							<div th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
						<td th:text="|${order.payment.bank}   ${order.payment.accountNumber} |"></td>
						<td><a class="btn btn-danger m-3" th:href="@{|/order/details/${order.orderId}|}">상세보기</a>
						</td>

					</tr>

				</div>
				<hr>
			</table>
			<hr>
		</div>
	</div>
	</div>
	</div>
	<div th:if="${dividedPage !=null}">
		<div class="container" style="text-align: center ;">
			<br><br>
			<h1>상세 내역 </h1>
			<br><br>



			<div id="parent">
				<div id="book_box1">
					<div></div>
					<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						책제목</div>
					<div>가격</div>
					<div>수량</div>
					<div>구매가격</div>
				</div>
				<hr>
				<div id="book" th:each="orderdetails:${orderdetail}" class="text-center">

					<div>
						<img th:src="@{${orderdetails.book.imagePath}}" title="${orderdetails.book.image}" id="img">
					</div>
					<div th:text="${orderdetails.book.title}"></div>

					<div>
						<div th:if="${orderdetails.book.discountRate =='0'}" th:value="${orderdetails.book.price}">
							<div
								th:text="${#numbers.formatDecimal(orderdetails.book.price, 0, 'COMMA', 0, 'POINT') + '원'}" />
						</div>
						<div th:if="${orderdetails.book.discountRate !='0'}"
							th:value="${orderdetails.book.price*(1-orderdetails.book.discountRate*0.01)}">
							<div
								th:text="${#numbers.formatDecimal(orderdetails.book.price*(1-orderdetails.book.discountRate*0.01), 0, 'COMMA', 0, 'POINT') + '원'}" />
						</div>
					</div>

					<div th:text="${orderdetails.orderQuantity}"></div>
					<div th:if="${orderdetails.book.discountRate =='0'}">
						[[${#numbers.formatDecimal(orderdetails.book.price*orderdetails.orderQuantity, 0, 'COMMA', 0,
						'POINT') +
						'원'}]]
					</div>
					<div th:if="${orderdetails.book.discountRate !='0'}">
						[[${#numbers.formatDecimal(orderdetails.book.price*(1-orderdetails.book.discountRate*0.01)*orderdetails.orderQuantity,
						0, 'COMMA', 0, 'POINT') + '원'}]]
					</div>

				</div>

			</div>

			<hr>
		</div>

	</div>
	</div>
	<div th:replace="commonspace :: footer" />

</body>

</html>